
<%= javascript_include_tag "editor" %>

<script type="text/javascript">
window.onload = function () {
	$('#unique').remove()
}
</script>

<body id="body-index-editor" class="body-editor">
	<div class="container-fluid">
		<div class="row col-xs-12">

			<div class="bs-example" >
				<table class="table">
					<caption>Text for some script.</caption>
					<thead>
						<tr><th>Character</th>
							<th>Text</th>
							<th>Visibility</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<!-- loop throught each line in the text and create buttons/show text-->
						<% @a.each do |entry| %>
							<tr>
								<th><%= entry[:charName] %></th>
								<th><%= entry[:textText] %></th>
								<% if entry[:vis] == true %>
		  						<td><span class='glyphicon glyphicon-eye-open'></span></td>
								<% else %>
		  						<td><span class='glyphicon glyphicon-eye-close'></td>
								<% end %>
								<td><%= link_to ' Edit',
											# text line id for entire databse
											edit_path(id: entry[:textLineId], work: @work.id,
											 character: entry[:charName]),
											{:remote => true,
												'data-toggle' =>  "modal",
												'data-target' => '#modal-window',
												'class' => 'btn btn-primary glyphicon glyphicon-pencil text-right'}  %>
								</td>

						<% end %>
					</tbody> + 
				</table>
			</div>
			<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalWindow" aria-hidden="true">
			</div>
		</div>
	</div>

</body>
